.table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 15px auto;
    text-align: center;
}

.header-row {
    background-color: lightblue;
    font-weight: bold;
}