.conatiner {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 5%;
  background-color: azure;
}

.heading {
  text-align: center;
  text-decoration-line: underline;
}